<ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Current Forms</a>
    <ul class="dropdown-menu">
      <li class=""><a href="#navs">Nav, tabs, pills</a></li>
      <li class=""><a href="#navbar">Navbar</a></li>
      <li class=""><a href="#breadcrumbs">Breadcrumbs</a></li>
      <li class=""><a href="#pagination">Pagination</a></li>
    </ul>
  </li>
  <li class="active"><a href="#labels">New Form</a></li>
</ul>
<div class="current-form">
</div>
